.section-about{
    background-color: #f7f7f7;
    padding: 15rem 0;
    margin-top: -20vh;

}

.heading-secondary{
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 700;
    background-image: linear-gradient(to right,#4441db,#abba05);
    display: inline-block;
    -webkit-background-clip: text;
    color: transparent;
    letter-spacing: 2px;
    transition: all .2s;
}

.heading-secondary:hover{
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: .5rem 1rem 2rem rgb(71, 67, 67);
}

.u-center-text{
    text-align: center;
    margin-bottom: 50px;
}

.row{
    max-width: 90%;
    margin: 0 auto;
   
}

 .col-1{
 
   
    max-width: 50%;
    float: left;
    text-align: justify;
    padding:10px ;
    
}

.col-2{
    max-width: 50%;
    float: left;
    padding:10px ;
    margin-left: 10px;

}

.row::after{
    content: "";
    clear: both;
    display: table;
}

.heading-about-1{
    text-transform: uppercase;
    font-size: large;
    font-weight: 600;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 15px;
}

.heading-about-2{
    text-transform: uppercase;
    font-size: large;
    font-weight: 600;
    margin-top: 60px;
    margin-bottom: 15px;

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.heading-about-p2,.heading-about-p1{
    font-weight: bold;
}

.btn-more{
    display: inline-block;
    text-align: start;
    margin-top: 15px;
    padding: 3px;
    font-weight: bold;
    text-decoration: none;
    border-bottom: 2px solid green;
    color: green;
    text-transform: uppercase;
    transition: all .5s;
}

.btn-more:hover{
    background-color: rgb(7, 189, 119);
    color: white;
    transform: translateY(-5px);
    box-shadow: 0 .1rem 2rem rgb(47, 41, 41);
}

.btn-more:active{
    background-color: rgb(189, 49, 7);
    color: white;
    transform: translateY(5px);
    box-shadow: 0 .1rem 2rem rgb(47, 41, 41);
}

.composition{
    position: relative;
}

 .composition .photos{
    position: absolute;
   
    width: 350px ;
    height: 300px;
    box-shadow: 0 1.5rem 4rem rgb(94, 52, 52);
    /* border-radius: 2px; */
    z-index: 10;
    transition: all .5s;
    outline-offset: 1.5rem;
    
}


 .composition .composition_photo-1{
    left:0;
} 


.composition .composition_photo-2{
    left:14rem;
    top: 2rem;
}

.composition .composition_photo-3{
    left:5rem;
    top: 10rem;

} 

.composition .photos:hover{
    transform: scale(1.2);
    z-index: 20;
    outline: 1rem solid green;
}

.composition:hover .photos:not(:hover){
    transform: scale(.9);
}